* {
    padding: 5px;
}

div{ 

}




.card {
    background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 20px
    margin: 20px;
    border: 10px double black;
}

img {
    width: 250px;    
    height: 200px;
}

.p-title {


    text-align: center;
}

.p-description {
    max-height: 80px;
  overflow: auto;
}


.product-price {
    color: gray;
}
.product-price:hover {
    color: rgb(255, 0, 0);
    background-color: white;
    font-weight: bold;
   
}

