* {
    padding: 5px;
}

.card {
    background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 20px
    margin: 20px;
    border: 10px solid green;
}

img {
    width: 250px;    
    height: 200px;
}

.p-title {


    text-align: center;
}

.p-description {
    max-height: 80px;
  overflow: auto;
}

